* {
  font: inherit;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans',Arial,sans-serif;
  tab-size: 4;
}

body {
  display: inline-block;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #333;
}

.content {
  display: inline-block;
  padding: 20px;
  background-color: #444;
  color: #f0f0f0;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #44B2E6;
}

a:hover {
  color: #93DCFF;
}

pre {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

td {
  border-top: solid 5px #555;
  vertical-align: top;
}

th, td {
  padding: 30px 20px;
}

td + td {
  font-family: consolas,monospace;
}

th:first-child, td:first-child {
  width: 250px;
  min-width: 250px;
}
