*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: #000000;
  color: #b0b0b0;
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 100px;
}

.content {
  display: inline-block; /* width becomes contents-width */
  min-width: 100%; /* width = max(contents-width, viewport-width) */
  padding: 20px 5px;
  background: #202020;
  color: #d0d0d0;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #44B2E6;
}
a:hover {
  color: #93DCFF;
}

pre {
  margin: 0;
}

.code-table {
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
}

.col-head {
  display: none;
  font-weight: bold;
}

.col1, .col2-2, .col3-2, .col-head {
  padding: 30px 0;
}
.col2-1, .col3-1 {
  padding: 5px 0;
}
.col2-2, .col3-2 {
  padding: 5px 0 30px;
}

.col1 {
  border-top: solid 5px #303030;
  max-width: 500px;
}

@media (min-width: 480px) {
  .content {
    padding: 20px;
  }

  .col1, .col2-1, .col2-2, .col3-1, .col3-2, .col-head {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 960px) {
  .code-table {
    grid-template-columns: 250px auto auto;
  }

  .col-head {
    display: block;
  }

  .col2-1, .col3-1 {
    display: none;
  }
  .col1, .col2-2, .col3-2 {
    padding: 30px 20px;
    border-top: solid 5px #303030;
  }
}




table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

td {
  border-top: solid 5px #303030;
  vertical-align: top;
}

th, td {
  padding: 30px 20px;
}

td + td {
  font-family: consolas,monospace;
}

th:first-child, td:first-child {
  width: 250px;
  min-width: 250px;
}
